<p>Are you sure you want to delete this note?</p>
<div>
    <textarea>{{note.content}}</textarea>
</div>
<form method="post" action="/notes/{{note.id}}/delete">
    <button class="btn btn-info" type="submit">Confirm Edit</button>
</form>