<div class="your-clock"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/flipclock.min.js"></script>

<script type="text/javascript">

    let clock = $('.your-clock').FlipClock({{time}}, {
        autoStart: false,
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          interval: function() {
            console.log("Test");
            let time = clock.getTime().time;
            if (time <= 0) {
                window.location.replace(`/notes/{{bookId}}?created=true`);
            }
          }
        }
    });
    clock.start();
    
</script>