<div class="container">
    <div class="my-clock" id="clock"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/flipclock.min.js"></script>

<script type="text/javascript">

    let clock = $('.my-clock').FlipClock({{time}}, {
        autoStart: false,
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          interval: function() {
            console.log("Test");
            if (clock.getTime().time <= 0) {
                clock.getTime().time = 0;
                window.location.replace(`/notes/{{book}}?created=true`);
            }
          },
          stop: function() {
            clock.getTime().time = 0;
            window.location.replace(`/notes/{{book}}?created=true`);
          }
        }
    });
    clock.start();
    
</script>