<div class="your-clock"></div>

<a class="btn btn-danger" href="#">Stop Timer</a>
{{!-- how to change default layout timer button to something else? --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/flipclock.min.js"></script>

<script type="text/javascript">

    let clock = $('.your-clock').FlipClock({{time}}, {
        clockFace: 'MinuteCounter',
        countdown: true,
        callbacks: {
          interval: function() {
            console.log("Test");
            // TODO Check for zero right here?
            // TODO Redirect to new place here?
          }
        }
    });
    clock.start();
    
</script>

<!-- TODO Need to find a way to change footer so that there's a cancel/stop timer button instead. -->