<div class="your-clock"></div>

<a class="btn btn-danger" href="#">Stop Timer</a>
{{!-- how to change default layout timer button to something else? --}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/flipclock.min.js"></script>

<script type="text/javascript">

    let clock = $('.your-clock').FlipClock({
        clockFace: 'MinuteCounter',
        countdown: true
    });
    clock.setTime({{time}});
    clock.start();
    setTimeout(function(){ 
    checktime();
    }, 1000);

    function checktime(){
      t = clock.getTime();
      if(t<=0){
        clock.setTime(10);
        clock.start();
      }
      setTimeout(function(){ 
        checktime();
      }, 1000);
    }
</script>