<form method="post" action="/create-book">
    <div class="container form-group">
        <label>Book</label>
        <input type="text" class="form-control" placeholder="Add book" name="book" required>
        <label>Number of Pages</label>
        <input type="number" class="form-control" placeholder="How many pages?" name="pages" required>
        <div class="">
            <button type="button" class="btn btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>