<form method="post" action="/create-book">
    <div class="container">
        <label>Book</label>
        <input type="text" placeholder="Add book" name="book" required>
        <label>Number of Pages</label>
        <input type="number" placeholder="How many pages?" name="pages" required>
        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="submitbtn">Add</button>
        </div>
    </div>
</form>