<div class="hero">
    <h3 class="hero-text">A timer and note app for your books, whenever you read.</h3>
{{!--     <h4 class="hero-text">Test it out here.</h4>
 --}}    <a href="/demo/dashboard" class="btn btn-lg btn-info demo-button hero-button col-lg-6">Try it out here!</a>
{{!--     <h4 class="hero-text">Sign Up Here.</h4>
 --}}    <a href="/signup" class="btn btn-lg btn-primary hero-button col-lg-6">Sign Up Here!</a>
</div>
