<div class="hero">
    <h3 class="hero-text">A timer and note app for your books, whenever you read.</h3>
    <a href="/demo/dashboard" class="btn btn-lg btn-info demo-button hero-button">Demo it here!</a>
    <a href="/signup" class="btn btn-lg btn-primary hero-button">Sign Up Here!</a>
</div>
