<form method="post" action="/login">
    <div class="container form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" required>
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="psw" required>
        <div class="clearfix">
            <button type="submit" class="btn sign-log-btn btn-primary">Login!</button>
        </div>
        <p class="signup-login-text">Not yet a user? <a href="/signup">Sign Up Here!</a></p>
    </div>
</form>