<form method="post" action="/login">
    <div class="container form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" required>
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="psw" required>
        <div class="clearfix">
            <button type="submit" class="btn loginbtn btn-primary">Login!</button>
        </div>
    </div>
</form>