<div>
<!-- Make this modal? Will probably want the notes to show up below the status bar in a list -->
<h3>{{bookName}}</h3>
{{#if owned}}
<p>This book is in your library!</p>
{{else}}
<p>This book is not in your library</p>
{{/if}}
</div>