<div>
<!-- Make this modal? Will probably want the notes to show up below the status bar in a list -->
<h3>{{bookName}}</h3>
{{#if owned}}
<p>You own this book!</p>
{{else}}
<p>You don't own this book</p>
{{/if}}
</div>