<!--Maybe I could use a modal sign up page?-->
<form method="post" action="/signup">
    <div class="container form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email" required>
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" name="username" required>
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
        <label>Repeat Password</label>
        <input type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" required>
        <div class="clearfix">
            <button type="submit" class="btn sign-log-btn btn-primary">Sign Up!</button>
        </div>
        <p class="signup-login-text">Already a user? <a href="/login">Login Here!</a></p>
    </div>
</form>
