<div>
<!-- Going to need dropdown menu of books, amount of time to set timer, and button to start timer -->
<!-- Possibly make this modal -->
<p>How many minutes do you want to read for?</p>
<form action="">
    <input type="number" name="minutes" />
    <input type="submit" value="Let's Read!" />
</form>
</div>