<div class="timer-box">
    <!-- Going to need dropdown menu of books, amount of time to set timer, and button to start timer -->
    <!-- Possibly make this modal -->
    <label>How many minutes do you want to read for?</label>
    <form action="" class="input-group" method="POST">
        <input type="number" name="minutes" class="form-control" />
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Let's Read!</button>
        </span>
        
    </form>
</div>