#clock {
    color: white;
    text-align: center;
    display: flex;
    margin-top: 50px;
    width: auto;
    justify-content: center;
}

#clock > div {
    margin: 5px;
    background: #94BFCD;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}

#clock div > span {
    padding: 1em;
    border-radius: 3px;
    background: lightblue;
    display: inline-block;
}

#clock div > p {
    text-align: center;
    margin: .5em;
}
